body {
  margin : 10px;
}

.centerInScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

td {
  padding: 2px;
  margin: 4px;
}  

tr td:last-child {
  font-weight: bold;
  color: green;
}  